PORTA = 3333
SQL_HOST = "localhost"
SQL_USER = "root"
SQL_PASS = "root"
SQL_DB = "todolist"






BD EXAMPLE:

CREATE DATABASE IF NOT EXISTS todolist;

USE todolist;

CREATE TABLE tasks (
    id INT PRIMARY KEY AUTO_INCREMENT,
    title VARCHAR(45) NOT NULL,
    status VARCHAR(45) NOT NULL,
    created_at VARCHAR(45) NOT NULL
);

